.footer {
  width: auto;
  max-width: 100%;
  height: auto;
  padding: 60px 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #212121b2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.footer__text {
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0;
  color: #212121b2;
  background: transparent;
}
